*{
  margin: 0 auto;
  padding: 0;	
}
body{	
	 width: auto;	
}
.container{
	       width: 70%;	
	       height: 850px;
	       margin: 0 auto;	
	       margin-top: 30px;	
	       padding: 30px;	
	       border: solid 1px black;		
}
.cuadradorojo{	
	          display:inline-block;	
	          position: all;
	          width: 264px;
	          height: 264px;
	          margin: 5px;
	          text-align: center;	
	          background-color: #ff6666; 
}	
.cuadradogris{	
              display:inline-block;
	          width: 264px;
	          height: 264px;
	          margin: 5px;
	          text-align: center;	
	          background-color: #ebebe0;	
}
.cuadradogrisx{
	           background-image: url(../img/Cross-256.png);	
	           display:inline-block;
	           width: 264px;
	           height: 264px;
	           margin: 5px;
	           text-align: center;	
	           background-color: #ebebe0;	
}

.cuadradorojoo{
	           background-image: url(../img/o.png);	
	           display:inline-block;
	           width: 264px;
	           height: 264px;
	           margin: 5px;
	           text-align: center;	
	           background-color: #ff6666;
}
