* {
    box-sizing: border-box; } 
/*Estilo Niveldos*/
 body{
  width: all;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;  
  background-image: url(../img/wallpaper.jpg);    
  background-repeat: no-repeat; 
  background-position: all;
  opacity: 0.8; 
} 
audio {          
    margin-top: 20px;  
    width: 80px;     
}   
.containerdos {
  margin: 5px; 
  width: 30%;
} 
img{   
   margin-top: 25px;  
   padding: 10px;
}  
#intentos {   
  margin: 40px; 
  padding: 15px;  
  width: 200px;
  float: left;  
  font-size: large; 
  font-family: verdana; 
  font-weight: bold;  
  color: #eefdff;   
  border: solid 2px red;
  border-radius: 8px; 
  background-color: #e51932;  
  opacity: 0.8;
}
.grilla {
  max-width: 670px;
  margin: 150px; 
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ficha {
  position: relative;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin: 5px;
}
.ficha, .back, .front {
  height: 120px;
  width: 120px;
}
.back, .front {
  position: absolute;
  -webkit-backface-visibility: hidden;  
  backface-visibility: hidden;
}
.front {
  border: 3px solid #e51932;
  background: #e51932;
}
.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  border: 3px solid #e51932;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.matched {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.match .front {
  background: url('../img/logocartas.png'); 
  background-repeat: no-repeat; 
  background-size: all; 
  background-position: center;  
  background-color: red;
}   
#volver {    
   -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s; 
    margin: 20px;   
    width: 4.5em;    
    height: 3.0em;  
    border: 2px solid red;  
    background-color: #e51932; 
    border-radius: 6px;     
    opacity: 0.8;
    font-size: 12px;  
    color: #e51932;  
}