* { 
  box-sizing: border-box;
  margin:0 auto;
  padding:0; 
}

body {
  font-family: "Lato";
  color:black;    
  background-image: url("../img/logo.png"); 
}

#containerHome {
  width:50%;  
  background-color: yellow; 
  border: outset 1px; 
  border-radius: 4px 8px;
  margin:0 auto;  
  margin-top: 10px;
  padding:20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

#cumpleHoy {
  margin: 0 auto;
}

h1, h3{
  margin:10px;
  font-size: larger;
}

img {
  max-height:100px; 
  max-width: 20%;
  margin:20px;
}

#cumplesProximos {
  padding:20px;
}

ul {
  list-style-position: inside;
}

ul li {
  display:inline-block;
  margin:0 auto;
  font-size:medium;
}

ul li:after {
  content: "|";
}

ul li button {
  margin:0 10px;
}

a { 
  text-decoration: none;
  font-size: 20px;
  font-family: "Lato";
  color:tomato; 
  cursor: pointer;
}

#containerCumple {
  width:90%;  
  max-height: 720px;
  margin:0 auto;  
  margin-top: 15px;
  text-align: center;   
  background-color: yellow; 
  border: outset 1px; 
  border-radius: 4px 8px;
}

form {
  margin:10px;  
  padding: 5px; 
  height: 180px;
}

form input, label, button {
  font-size:medium;
  font-family:"Lato"; 
  font-weight: normal;  
  text-align: left; 
  border-color: white;  
  border-radius: 4px; 
  height: 30px;
}

label, input {
  margin: 10px 5px;
}

input {
  padding:2px 0;
  border:1px solid white;
}

button {
  padding:0 5px;
}

#imgSelect {
  width:95%;
  margin:50px auto;
}

#anakin, #obiwan, #vader, #yoda {
  width:250px;
  height: 400px;
  margin:10px;  
  cursor: pointer;
}

@media (max-width:1100px) {
  form {
    height:auto;
    text-align:left;
    margin-bottom:20px;
  }

  form input, form label {
    display:block;
    margin:10px 0;
  }
}
